.custom-button {
    background-color: #ffffff; /* Green background */
    border: none; /* No border */
    color: rgb(255, 200, 0); /* White text */
    padding: 15px 32px; /* Padding */
    text-align: center; /* Center text */
    text-decoration: none; /* No underline */
    display: inline-block; /* Display as inline-block */
    font-size: 16px; /* Font size */
    margin: 4px 2px; /* Margin */
    cursor: pointer; /* Cursor on hover */
    border-radius: 10px; /* Rounded corners */
}
